*~
*.swp
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
/.idea
/.idea/*
.project
.settings
.classpath
target
legacy
.idea
gen
build
out
gen-external-apklibs
classes
pom.xml.releaseBackup
release.properties
.directory
.gradle
